@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Lato;
    src: url(/dist/fonts/Lato/Lato-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: LatoLight;
    src: url(/dist/fonts/Lato/Lato-Light.ttf) format("truetype");
  }

  @font-face {
    font-family: Merriweather;
    src: url(/dist/fonts/Merriweather/Merriweather-Regular.ttf)
      format("truetype");
  }

  .container {
    @apply mx-auto;
  }

  h1 {
    @apply text-4xl font-headline text-gray-900;
  }
  h2 {
    @apply text-3xl font-headline text-gray-900;
  }
  h3 {
    @apply text-2xl font-headline text-gray-900;
  }
  h4 {
    @apply text-xl font-headline text-gray-900;
  }
  h5 {
    @apply text-lg font-headline text-gray-900;
  }

  .btn {
    @apply px-3 py-2 transition rounded-full shadow-sm hover:shadow-none;
  }
  .btn-icon {
    @apply flex items-center;
  }
  .btn-orange {
    @apply bg-iiedorange-500 hover:bg-iiedorange-600;
  }

  a {
    @apply transition duration-300 ease-in-out text-link-text hover:underline underline-offset-2 hover:text-link-hover visited:text-link-visited;
  }

  .rich-text p {
    @apply mt-5 mb-5;
  }

  hr {
    @apply my-6;
  }

  blockquote {
    @apply text-2xl font-headline text-iiedpink-700 pl-0;
  }
  /* 
  blockquote p {
    position: relative;
  }

  blockquote p:after {
    position: absolute;
    right: 0;
    font-size: 2.25rem;
  }
  */

  /*-- rotate 4 colour borders, could be done with plugin. Where a is the parent this could change depending on card link implementation--*/
  .grid a:nth-child(8n + 1) .color-rotate {
    @apply border-iiedpink-500;
  }
  .grid a:nth-child(8n + 2) .color-rotate {
    @apply border-iiedorange-500;
  }
  .grid a:nth-child(8n + 3) .color-rotate {
    @apply border-iiedblue-500;
  }
  .grid a:nth-child(8n + 4) .color-rotate {
    @apply border-iiedgreen-500;
  }
  .grid a:nth-child(8n + 5) .color-rotate {
    @apply border-iiedgreen-500;
  }
  .grid a:nth-child(8n + 6) .color-rotate {
    @apply border-iiedblue-500;
  }
  .grid a:nth-child(8n + 7) .color-rotate {
    @apply border-iiedorange-500;
  }
  .grid a:nth-child(8n + 8) .color-rotate {
    @apply border-iiedpink-500;
  }

  ol.big-list li::marker {
    font-family: LatoLight;
    font-weight: 100;
    font-size: 2rem;
    color: #00a9d5;
  }

  .prose ul li::marker {
    color: #374151;
  }

  .keypoint {
    @apply list-none pl-0 !important;
  }
  .keypoint li {
    @apply before:content-keypoint items-center before:mr-4;
  }

  .odd .rounded-odd-even {
    @apply rounded-tl-xl;
  }

  .even .rounded-odd-even {
    @apply rounded-tr-xl;
  }

  .odd .rounded-odd-even:before {
    content: url(/dist/images/corner-tr.svg);
    position: absolute;
    top: -12px;
    right: 0;
    width: 12px;
    height: 12px;
    margin: 0 0 0 0px;
    fill: #fff;
  }

  .even .rounded-odd-even:before {
    content: url(/dist/images/corner-bl.svg);
    position: absolute;
    top: -12px;
    left: 0;
    width: 12px;
    height: 12px;
    margin: 0 0 0 0px;
    fill: #fff;
  }

  .iied-gradient {
    background: rgb(0, 179, 223);
    background: linear-gradient(
      90deg,
      rgba(0, 179, 223, 1) 0%,
      rgba(252, 179, 22, 1) 33.3%,
      rgba(206, 83, 158, 1) 66.6%,
      rgba(170, 192, 44, 1) 100%
    );
  }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    /* image clipping */
    .image-clipped {
      clip-path: url(#svgPath);
    }
}
